<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Faktlar</title>
</head>
<body>
    <form method="get">
        <input type="text" name="q" placeholder="qidirish" autocomplete="off">
        <input type="submit" value="qidirish">
    </form>
    {% for i in fakts %}
    <div class="content">
        <h1>{{i[0]}}</h1>
        <h2>{{i[1]}}</h2>
    </div>
    {% endfor %}
</body>
</html>